@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Inconsolata:wght@300&family=Pixelify+Sans&family=Signika+Negative:wght@300&display=swap');

body {
    font-family: 'Gabarito', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient( rgba(34, 24, 24, 0.5), rgba(62, 41, 41, 0.5) ), url('../images/wallpaper5.jpg');
    background-size: cover;
    background-position: center;
}

.result-container {
    background-color: #a1878701;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

h1, h3 {
    color: #eadede;
}

p {
    margin: 15px 0;
}

a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #563b42;
    color: #f0f0f0d7;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #533858a9;
}